{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>
            {{following.nick}}
            <button class="twit-follow">팔로윙 끊기</button>
            <input type="hidden" id="following-user" value="{{ following.id }}">
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div id="edit-profile">
    <button class="twit-follow">프로필 수정</button>
    <div id="edit">
      <form id="profile-form" action="/user/edit" method="post">
        닉네임: <input type="text" maxlength="10" name="nick">
        패스워드: <input type="password" maxlength="10" name="password">
        <input type="submit" name="formbtn" value="변경하기">
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function(){
    document.getElementById('edit').style.display = "none";
  });

  document.querySelectorAll('.twit-follow').forEach(function(tag) {
    tag.addEventListener('click', function() {
      const myId = document.querySelector('#my-id');
      if (myId) {
        const userId = tag.parentNode.querySelector('#following-user').value;
        if (userId !== myId.value) {
          if (confirm('언팔 하시겠습니까?')) {
            axios.delete(`/user/${userId}/unfollow`)
                    .then(() => {
                      location.reload();
                    })
                    .catch((err) => {
                      console.error(err);
                    });
          }
        }
      }
    });
  });

  document.querySelectorAll('.twit-follow').forEach(function(tag) {
    tag.addEventListener('click', function() {
      document.getElementById("edit").style.display = '';
    });
  });
</script>
{% endblock %}